<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Taco Cloud</title>
	<link th:href="@{/style.css}" rel="stylesheet"/>
</head>
	<body>
		<h1>Design Your Taco!</h1>
		<img th:src="@{/images/TacoCloud.png}"/>
		
		<form method="POST" th:object="${design}">
			<div class="grid">
				<div class="ingredient-group" id="wraps">
					<h3>Design Your Wrap:</h3>
					<div th:each="ingredient : ${wrap}" >
					<input name="ingredients" type="checkbox" th:value="${ingredient.mId}"/>
		 			<span th:text="${ingredient.mName}">INGREDIENT</span><br/>
					</div>
				</div>
	
				<div class="ingredient-group" id="proteins">
					<h3>Pick Your Proteins:</h3>
					<div th:each="ingredient : ${protein}" >
					<input name="ingredients" type="checkbox" th:value="${ingredient.mId}"/>
		 			<span th:text="${ingredient.mName}">INGREDIENT</span><br/>
					</div>
				</div>
				
				<div class="ingredient-group" id="veggies">
					<h3>Determine Your Veggies:</h3>
					<div th:each="ingredient : ${veggies}" >
					<input name="ingredients" type="checkbox" th:value="${ingredient.mId}"/>
		 			<span th:text="${ingredient.mName}">INGREDIENT</span><br/>
					</div>
				</div>
				
				<div class="ingredient-group" id="cheeses">
					<h3>Choose Your Cheeses:</h3>
					<div th:each="ingredient : ${cheese}" >
					<input name="ingredients" type="checkbox" th:value="${ingredient.mId}"/>
		 			<span th:text="${ingredient.mName}">INGREDIENT</span><br/>
					</div>
				</div>
			
				<div class="ingredient-group" id="sauces">
					<h3>Select Your Sauces:</h3>
					<div th:each="ingredient : ${sauce}" >
					<input name="ingredients" type="checkbox" th:value="${ingredient.mId}"/>
		 			<span th:text="${ingredient.mName}">INGREDIENT</span><br/>
					</div>
				</div>
			</div>
			  
			<div>
			<h3>Name Your Taco Creation:</h3>
			<!-- th:field should be the same as its getter method.
				 For example, the getter method is as below:
				 
				 public String getRoadName() { return mRdName; }
				 
				 Therefore th:field = "*{RoadName}"			 
			 -->
			<input type="text" th:field="*{name}"/>
			<br/>
			<button>Submit Your Taco</button>
			</div>
		</form>
	</body>
</html>